.app {
  width: 100%;
  height: 100%;
  background-color: rgb(97, 97, 97);
}

.main-container {
  width: calc(100% - 40px);
  height: calc(100% - 110px);
  display: grid;
  grid-template-columns: 1.3fr 1fr;
  grid-template-rows: 1.6fr 1fr;
  grid-gap: 20px;
  margin: 20px auto;
}

.graph-section {
}

.map-section {
  grid-area: 1 / 2 / span 2;
}

.details-section {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  grid-template-rows: 1fr 3.5fr;
  grid-gap: 7px;
  background-color: rgb(57, 57, 57);
  border: 10px solid rgb(57, 57, 57);
}

.content-box {
  border: 10px solid rgb(57, 57, 57);
  background-color: rgb(42, 42, 42);
  color: white;
}

/* @media (max-width: 650px) {
  .main-container {
    grid-template-columns: 1fr;
  }
} */
